/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
display: grid;
justify-content: center;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filtres {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	margin: 40px 0;
}

.bouttons {
	display: flex;
	align-items: center;
	border: 1px #1d6154 solid;
	border-radius: 60px;
	color: #1d6154;
	background: #fff;
	height: 38px;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	padding: 3px 20px;
	cursor: pointer;
	margin: 0;
}

.selected {
	color: white;
	background-color: #1D6154;
}

a{
	text-decoration: none;
	color: black;
	margin-left: 10px;
}
.errorMessage {
	color: red;
	margin: 0px 0px 10px 10px;
}
.gridGallery .errorMessage {
	margin: -31px 0px 10px 100px;
    text-decoration: underline;
}
.mdp a{ 
	text-decoration: underline;
}

.hidden {
	display: none;
}
.blockTop {
	background-color: #000;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.blockTop button {
	border: none;
	background-color: #fff;
	border-radius: 60px;
	height: 38px;
	font-weight: 700;
	padding: 10px 20px;
	font-family: "Work Sans";
}
.blockTop i{
	color: white;
}
.blockTop a{
	color: white;
	margin: 0;
	
}
.project a{
	cursor: pointer;
}
.project i{
	cursor: pointer;
}

.edition {
	display: flex;
	color: #fff;
	align-items: center;
	gap: 10px;
}
.modifier{
display: flex;
margin-left: 30px;
}
.modifier a{
	gap: 10px;
}
.position{
display: flex;
margin-left: 56px;
margin-top: 10px;
}

.project{
	justify-content: center;
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}
.modal{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 10px;
	z-index:10 ;
	width: 630px;
	height: 731px;
}
.modalPhoto{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 10px;
	z-index:10 ;
	width: 630px;
	height: 731px;
}
.gridGallery{
	display: grid;
}
.gridGallery a{
	display: flex;
	justify-content: center;
	margin: 0;
	font-weight: 400;
	font-size: 26px;
}
.gridGallery p{
	display: flex;
	justify-content: center;
	color: red;
}
.gridGallery .fa-solid{
	display: flex;
	justify-content: flex-end;
	margin: 10px;
	font-size: 20px;
}
.hr{
	border: none;
  color: #B3B3B3;
  width: 420px;
  height: 0px;
  border: 1px solid #B3B3B3;
  left: 510px;
  top: 1229px;
}
.modalPhoto a{
	margin-bottom: 30px;
}
.modalPhoto .hr{
	top: 0;
	left: 0px;
	position: relative;
	margin: 40px auto 10px auto;
}
#modalPhoto input[type="submit"] {
	width: 237px;
	height: 36px;
	border-radius: 60px;
    background: #A7A7A7;
	cursor: pointer;
	border: none;
  }
  .ajoutPicture{
	width: 173px;
    height: 36px;
    border-radius: 50px;
    background-color: #CBD6DC;
    color: #306685;
    border: none;
    cursor: pointer;
}
.ajout{
	font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 30px auto;
    width: 237px;
	height: 36px;
    text-align: center;
    border-radius: 60px;
	cursor: pointer;
	border: none;
}
.valider{
	font-family: 'Syne';
    font-weight: 700;
    color: white;
    background:  grey;
    margin: auto;
    width: 237px;
	height: 36px;
    text-align: center;
    border-radius: 60px;
	border: grey;
}
.fa-solid 
.fa-xmark{
	font-size: 20px;
}
.modalSearch { 
	display: grid;
	background-color: #E8F1F6;
	Width:420px;
    Height:169px;
    border-radius: 3px;
	margin: auto;
	align-items: center;
    justify-content: center;
}
.modalSearch a { 
	font-size: 10px
}
.arrow{
	justify-content: space-between;
	display: flex;
	margin: 20px ;
	top: 0;
}
.modalPhoto .fa-solid{
	display: flex;
	top: 10px;
	position: relative;
}
.boddyBackground {
	background: white;

  }
  
.modalSearch button { 
	width: 173px;
	height:36px ;
	border-radius: 50px ;
	background-color: #CBD6DC;
	color: #306685;
	border: none;
	cursor: pointer;
	position: relative;
	
}
input[type="file" i] {
	display: none;
  }
.modalSearch a{
	margin: 10px auto;
}
.modalSearch .fa-regular {
display: flex;
justify-content: center;
font-size: 58px;
color: #B9C5CC;
margin: 20px auto;
}
.Gras {
	font-weight: bold;
}
.carre{
	width: 17px;
    height: 17px;
    border-radius: 2px;
    color: white;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	top: 8px;
	left: 68px;
}
.carre .fa-solid{
	color: white;
	font-size: 11px;
}
.moveIcone{
	width: 17px;
	height: 17px;
	border-radius: 2px;
	color: white;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -2px;
	left: 36px;
	font-size: 11px;
}

select{
	height: 50px;
	font-size: 13px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 420px;
}
select{
	color: #444;
}
.imageContain {
    width: 129px;
    height: 170px;
	position: relative;
	overflow: hidden;
}

.formulaire{
	display: grid;
	gap: 20px;
	margin: auto;
}
input{
	height: 50px;
    font-size: 13px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    width: 420px;
	color: #444;
}